.ant-upload-picture-card-wrapper {
    &.has-metadata {
        &.has-files {
            margin-bottom: 3em;
        }
    }
    .item {
        &:hover {
            .default {
                display: block;
            }
        }
        .default {
            display: block;
            margin-top: 0.3em;
            text-align: center;
            button {
                font-size: 1.1rem;
                line-height: 1.5715;
            }
        }
    }
}
